html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: #4A4F54;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #F6F6F6;
    padding: 0;
    margin: 0;
}
/* typography */
h1 {
    font-size: 34px;
    font-weight: 800;
    letter-spacing: -1px;
    padding: 0;
    margin: 0; 
}

/* header */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 40px 20px;
}
header h1 svg {
    display: inline-block;
    vertical-align: middle;
    fill: #3B8EA5;
}
header h1 span {
    display: block;
}
@media(min-width: 430px) {
    header h1 svg {
        margin-right: 30px;
    }
    header h1 span {
        display: inline-block;
        vertical-align: middle;
    }
}